html, body {
    width: 100%;
    background-color:#333;
    color:#ddd;
}

#dir ol {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

#dir li {
    display:flex;
}
#dir li:hover {
    background-color: #555;
}

#dir li * {
    margin-right: 10px;
}

#dir .clickable {
    cursor: pointer;
}

#dir li.selected {
    background-color:#039;
    color:#fff;
}

#dir .folder {
    color: #d99;
}
#dir .file {
    color: #ddd;
}